.film-block {
    display: flex;
    flex-direction: column;
    
    &__content {
        flex-grow: 1;
        padding: 8px 0;
    }

    @media (min-width: 760px) {
        flex-direction: row;
        gap: 8px;

        &__image {
            max-width: 250px;
        }

        &__content {
            padding: 8px;
        }
    }
}
