// breakpoints

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// colors

$dark-1: #212529;
$dark-2: #343a40;
$dark-3: #495057;
$dark-4: #6c757d;
$dark-5: #adb5bd;
$dark-6: #ced4da;
$dark-7: #dee2e6;
$dark-8: #e9ecef;
$dark-9: #f8f9fa;

// font sizes
$text-xsm: 0.75rem;
$text-sm: 0.875rem;
$text-md: 1rem;
$text-18: 1.125rem;
$text-20: 1.25rem;
