@use 'styles/variables';

:root {

  --width-content: 1152px;

  --padding-content: 1rem;
  --color-link: #0969da;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  color: variables.$dark-1;

  &.has-modal {
    overflow: hidden;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}

a {
  color: #0969da;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../public/static/fonts/JetBrainsMono-Regular.woff2');
}

main {


  max-width: var(--width-content);
  margin: 0 auto;
  padding: 0 var(--padding-content);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

.mono {
  font-family: ui-monospace, 
             Menlo, Monaco,
             "Cascadia Mono", "Segoe UI Mono",
             "Roboto Mono",
             "Oxygen Mono",
             "Ubuntu Monospace",
             "Source Code Pro",
             "Fira Mono",
             "Droid Sans Mono",
             "Courier New", monospace;
}


