.radio-group {
    border: unset;
    padding: unset;

    display: flex;
    gap: 8px;

    legend {
        font-variant: small-caps;
    }

    .radio-button {
        display: flex;
        align-items: center;

        label {
            display: flex;
            gap: 4px;
            user-select: none;

            input {}
        }
    }
}
