.radio-group {
    border: unset;
    padding: unset;

    display: flex;

    legend {
        font-variant: small-caps;
    }

    .radio-buttons-container {
        display: flex;
        gap: 16px;

        .radio-button {
            display: flex;
            align-items: center;
    
            label {
                display: flex;
                gap: 4px;
                user-select: none;
    
                input {}
            }
        }
    }


}
