.options-bar {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;

    .label {
        font-variant: small-caps;
        user-select: none;
    }

    .order {


        display: flex;
    }
}
