@use 'styles/variables';

$ballColor: variables.$dark-1;

.rater {
    display: flex;
    gap: 0.125rem;

    .ball {
        --size: 0.75rem;
        --ball-color: #09293a;
        --filled-percentage: 0%;

        position: relative;
        border: 1px solid $ballColor;


        display: flex;
        align-items: center;
        justify-content: center;

        width: var(--size);
        height: var(--size);

        padding: 0.25rem;
        border-radius: 50%;

        overflow: hidden;

        .inner-ball {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: $ballColor;
            transform: translateX(calc(-100% + var(--filled-percentage)));
        }
    }
}

.rating {
    font-size: variables.$text-sm;
}
