.heading {
    margin-bottom: 1rem;
}

.container {
    display: flex;
    gap: 1rem;

    > * {
        flex: 1;
    }

    .left {
        flex: 1;

        .films-overview {
            list-style-type: none;
            padding: unset;

            li {
    
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .right {
        display: none;
        max-width: 400px;
        background-color: #00000004;
        border-radius: 16px;
        padding: 1rem;

        @media screen and (min-width: 1000px) {
            display: flex;
        }
    }
}
